/* header part */

#header
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 80px; 
 
    background: #E3E6F3; 

    box-shadow: 0 5px 15px rgb(0,0,0,0.06);

    z-index: 999;
    box-shadow: none;
    position: sticky;
    top: 0;
    left: 0;
 
} 

 #navbar
 {
    display: flex;
    align-items: center;
    justify-content: center;

 }  

 #navbar.active
 {
  right:0px ;

 } 

 #mobile i
 {
  display: none;
  align-items: center;
 }

 #navbar li
 {
  
    list-style: none;
    padding: 0 20px;
    position: relative;

 }

 #header h3
 {
    font-size: 30px;
 }

 #navbar li a,h3{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600; 
    color: #1a1a1a;
    transition: 0.3s ease;
 } 

 #navbar li a:hover,
 
#navbar li a.active
 {
 
    color: #088178;
 }
 
  #navbar li a.active::after
  
 , #navbar li a:hover::after
  {

   content:"";
   width: 50%;
   height: 2px;
   background: #088178 ;
   position: absolute;
   bottom: -1px;
   left: 20px;
 } 

 /* home */

 #hero

 {

   background-image: url("img/messi-removebg-preview.png"); 
   background-repeat: none; 
   height: 900px;
   width: 100%;
   background-size: cover;
   background-position: top 25% right 0;
   padding:0 80px ;

 }

 #hero h4
 { 
   /* margin-top: 10px; */
 padding-bottom: 5px;

 }

 #hero h1
 {
 color: #088178;

 }

#hero button{

   background-image: url("img/button.png");
   background-color: transparent;
     color: #088178;
     border: none;
     padding: 14px 80px 14px 65px;
     background-repeat: no-repeat;
     cursor: pointer;
     font-weight: 700;
     font-size: 15px;
     

}

.section-p1
{
   padding: 40px 80px;
}

#features .fe-box
{
  width: 180px;
   text-align: center;
   padding: 25px 15px;
   box-shadow: 20px 20px 34px  rgba(red, green, blue, alpha);

   border: 2px solid #cce7d0 ;
   border-radius: 4px;
   margin: 15px 0;


}

#features .fe-box:hover
{

   box-shadow: 10px 10px 54px rgb(0,0,0,0.06);
}
#features .fe-box h6
{
   padding: 9px 8px 6px 8px;
   line-height: 1;
   border-radius: 7px;
   color: #088178;
   background-color: #fddde4;
   display: inline-block;
}

#features .fe-box img{
   width: 100%;
   margin-bottom: 10px;
}

#features
{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}

#features .fe-box:nth-child(2) h6
{
   padding: 9px 8px 6px 8px;
   line-height: 1;
   border-radius: 7px;
   color: #088178;
   background-color: #4fb50f;
   display: inline-block;
}
#features .fe-box:nth-child(3) h6
{
   padding: 9px 8px 6px 8px;
   line-height: 1;
   border-radius: 7px;
   color: #56cec6;
   background-color: #ec0638;
   display: inline-block;
}
#features .fe-box:nth-child(4) h6
{
   padding: 9px 8px 6px 8px;
   line-height: 1;
   border-radius: 7px;
   color: #c5e9e6;
   background-color: #3f149b;
   display: inline-block;
}
#features .fe-box:nth-child(5) h6
{
   padding: 9px 8px 6px 8px;
   line-height: 1;
   border-radius: 7px;
   color: #cee9e7;
   background-color: #0ec1f3;
   display: inline-block;
}
#features .fe-box:nth-child(6) h6
{
   padding: 9px 8px 6px 8px;
   line-height: 1;
   border-radius: 7px;
   color: #6dc7c1;
   background-color: #c66511;
   display: inline-block;
} 


#product1 .pro-container 
{
   display: flex;
   justify-content:space-between;
   padding-top:20px;
   flex-wrap:wrap;
   margin-inline-end:10px;
}


#product1
{
   text-align: center;
} 

#product1 .pro1
{
   width: 20%;
   min-width: 250px;
   padding: 10px 15px ;
   border: 1px solid #cce7d0;
   border-radius: 25px;
   cursor: pointer;
   box-shadow: 20px 20px 30px rgba(red, green, blue, alpha)
   ;

   margin: 15px 0px;
   text-align: 15px 0;
   /* position: relative; */
   /* transition:0.2s ease ; */

} 

#product1 .pro1:hover
{ 
  
   box-shadow: 15px 10px 10px rgb(0,0,0,0.06);
    /* transition: 0.1s ease; */
} 


#product1 .pro1 img{

   width: 100%;
   border-radius: 20px;

} 

 #product1 .pro1  
 {
   text-align: start;
   padding-top: 0px;
 } 

 #product1 .pro1 .description span
 {
   color: #606063;
   font-size: 12px;
 }

 #product1 .pro1 .description h5
 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
 }
  
 .section-m1
 {
   margin: 40px 0;
 } 

 #banner 
 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-image: url("img/banner/b2.jpg");
   width: 100%;
   height: 360px;
   background-size: cover;
   background-position: center;
 } 

 #banner h4{
   color: #cee9e7;
   font-size: 25px;
 }

 
 #banner h2{
   color: #cee9e7;
   font-size: 30px;
   /* padding: 10px 0; */
 } 
 #banner h2 span{
   color: red;
 }

 button.normal
 {
   font-size:14px ;
   font-weight: 600;
   padding: 15px 30px;
   background-color: #fff;
   border-radius: 4px;
   cursor: pointer;
   border: none;
   outline: none;
   transition: 0.2s;

 }  

 button.white
 {
   font-size:13px ;
   font-weight: 600;
   padding: 11px 18px;
   color: #c5e9e6;
   background-color: transparent;
   border-radius: 4px;
   cursor: pointer;
   border:1px solid #fff;
   outline: none;
   transition: 0.2s;


 } 

 #banner button:hover
 {
   background-color: #066035;
   color: #907cba;
 }
 #sm-banner .banner-box
 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   background-image: url("img/banner/b17.jpg");
   min-width:580px;
   height: 50vh;
   background-size: cover;
   background-position: center;
   padding: 30px;
 } 

 #sm-banner
 {
   display: flex;
   justify-content: space-between;
flex-wrap: wrap;
 } 

 #sm-banner h4
 {
   color: #fff;
   font-size:20px ;
   font-weight:300 ;
 }

 #sm-banner h2
 {
   color: #fff;
   font-size:28px ;
   font-weight:800 ;
 }

 #sm-banner span
 {
   color: #fff;
   font-size:14px ;
   font-weight:500 ;
   padding-bottom:15px ;
 } 

 #sm-banner .banner-box:hover button{
   background: #066035;
   border: 1px solid #066035 ;

 } 

 #sm-banner .banner-box2
 {
   background-image: url("img/banner/b10.jpg");
 }

 #banner3 .banner-box
 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   background-image: url("img/banner/b7.jpg");
   min-width:30%;
   height: 30vh;
   background-size: cover;
   background-position: center;
   padding: 20px;
   margin-bottom: 20px;
 } 
 
 #banner3 h2
 {
   color: #fff;
   font-weight: 900;
   font-size: 22px;

 } 

 #banner3 .banner-box2
 {
   background-image: url("img/banner/b4.jpg");
 } 

 #banner3 .banner-box3
 {
   background-image: url("img/banner/b18.jpg");
 }




  
 #banner3 h3
 {
   color: #dc0707;
   font-weight: 800;
   font-size: 15px;

 } 

 #banner3
 {
   display: flex;
   justify-content: space-between;
   /* flex-wrap: wrap; */
   padding: 0 80px;
   /* margin-inline-start: 10px; */

 }

 #newsletter  
 {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
       align-items: center;
   background-repeat: no-repeat;
   background-position: 20% 30%;
   background-image: url("img/banner/b14.png");
   background-color: #3f149b;
 }

 .margin1
 {
   padding: 10px 15px;
 } 

 #newsletter h4{
   font-size: 22px;
   font-weight: 800;
   color: #c5e9e6;
 }
 #newsletter p{
  font-size: 20px;
  font-weight: 600;
   color: #3aac04;
}

#newsletter p span{
  font-size: 20px;
  font-weight: 600;
   color: #cbf10c;
}  

#newsletter input 
{
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 70%;
  border: 1px solid transparent;
  outline: none;
  border-radius: 3px;
   
}

#newsletter button 
{
  height: 3.125rem;
  padding: 0 1.25em;
 
  background-color: #088178;
  color: white;
  margin-left: 10px;
  
}

#newsletter .form
{
  display: flex;
  width: 40%;
} 

#newsletter .newstext
{
  margin-left: 30px;
}

footer
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer h4
{
  font-size: 20px;
  padding-bottom: 20px;

} 
footer p
{
  font-size: 13px;
  padding-bottom: 20px;
  margin: 0 0 8px 0;
  
}
footer a
{
  font-size: 17px;
  text-decoration: none;
  color: #222;
  margin : 0 0 8px 0;
  margin-bottom: 10px;
  
}

footer .follow
{
  margin-top: 20px;

}

footer .follow i
{
  color: #088178 ;
  padding-right: 4px;
  cursor: pointer;
  
}

footer .install .row img{
  border: 1px solid #088178;
  border-radius: 2px;
}

footer .install img{
  margin: 10px 0 15px 0;
}

footer .follow .icon:hover,
footer a:hover
{
  color: #088178;
}



footer .copyright
{
  width: 100%;
  text-align: center;
} 

footer .logo
{
  padding-bottom: 20px;
} 

footer .tes
{
  font-size: 17px;
}

/* media query */

 @media (max-width:799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    border-color: #E3E6F3;
    box-shadow:0 40px 60px rgb(0,0,0,0.1);
    padding: 80px 0 0 10px ;
    transition:0.3s ;
    
}

#navbar li {
   margin-bottom: 25px;
} 

#mobile
{
  display: flex;
  align-items: center;
}

#mobile i
{
  display: flex;  
 font-size: 24px;
 padding-left: 20px;
 color: #1a1a1a;
}




 }